@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main > article{
        width: 80vw;
        margin: auto;
        margin-top: 10px;
        background-color: white;
        border-radius: 20px;
    }
    header > nav > a{
        display: inline-block;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        color: rgb(207, 207, 207);
        text-decoration: none;
    }
    header{
        background-color: gray;
    }

    a:hover{
        display: inline-block;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        padding-top: 15px;
        color: rgb(207, 207, 207);
        text-decoration: none;
        transition: 0.2s;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    main > article{
        width: 60vw;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        background-color: white;
        border-radius: 20px;
    }
    header > nav > a{
        display: inline-block;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        color: rgb(207, 207, 207);
        text-decoration: none;
    }
    header{
        background-color: gray;
    }
    a:hover{
        display: inline-block;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        padding-top: 15px;
        color: rgb(207, 207, 207);
        text-decoration: none;
        transition: 0.2s;
    }
}

@media screen and (min-width: 1200px){
    main > article{
        width: 60vw;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        background-color: white;
        border-radius: 20px;
    }
    header > nav > a{
        display: inline-block;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        color: rgb(207, 207, 207);
        text-decoration: none;
    }
    header{
        background-color: gray;
    }
    a:hover{
        display: inline-block;
        background-color: rgb(58, 58, 58);
        padding: 10px;
        padding-top: 15px;
        color: rgb(207, 207, 207);
        text-decoration: none;
        transition: 0.2s;
    }
}