@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Playwrite+RO:wght@100..400&display=swap');

html, body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    color: red;
    text-decoration: underline;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    font-size: medium;
    padding-bottom: 10px;
}

p{
    font-family: cursive;
    font-size: 30px;
    padding: 0px;
}

.fundo{
    background-color: rgba(255, 255, 255, 0.527);
    max-width: 400px;
}

.fundobranco{
    background-color: white;
    padding: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.imagemfundo1{
    background: transparent url('imagens/background001.jpg') no-repeat fixed center -130px;
    padding: 50px;
}

.imagemfundo2{
    background: transparent url('imagens/background002.jpg') no-repeat fixed center;
    padding: 50px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
}

footer > p{
    font-size: 20px;
    text-align: center;
}